*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 30vh;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    overflow-x: hidden;
}

nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;

}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6400ff;
    box-shadow: 0px 10px 20px 1px rgb(0 0 0 / 45%);
}

nav li{
    height: 5vh;
    width: 100%;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
}

nav a:hover{
    background-color: #ffb0b0;
    color: black;
}

#bg_img_first{
    background-image: url("obrazky/background_1_mobile.JPG"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 83vh;
    position: relative;
    z-index: -1;
    transition: 0.5s;
}
#bg_img_first :hover{
    background-image: url("obrazky/me_1.JPG");
    transition: 0.5s;
}
.bordered{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0px;
    z-index: 1;
    position: relative;
    background-color: rgb(58, 27, 27);
    height: 100%;
    width: 100%;
    transition: 0.5s;

}
.container{
    display: flex;
    min-height: fit-content;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 10px 20px 1px rgb(0 0 0 / 45%);
    position: relative;
    z-index: 1;
    
}
#main_title{
    margin-top: 6vh ;
    font-size: 5em;
    color: #6400ff;
    padding-top: 2vh;
    text-align: center;
    
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-shadow: 3px 2px 0px #000000;
    box-shadow: 0px 20px 20px 0px rgba(255, 255, 255, 0.45);
    transition: 0.5s;

    
    
}
#title_small{
    font-size: 4em;
    color: #6400ff;
    height: 10vh;
    padding: 8px;
    text-shadow: 3px 2px 0px #000000;
    box-shadow: 0px -20px 20px 0px rgb(255 255 255 / 45%);
    width: 100%;
    transition: 0.5s;
}
#text_container{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    flex-direction: row; 
    padding-left: 2vw;
    text-align: left;
    font-size: 1.5em;
    color: #000000;
    letter-spacing: 0.1px;
    line-height: 1.5;
    padding-bottom: 10px;
    margin-left: 3vw;
    margin-right: 3vw;
    min-height: fit-content;
    

}
#shadow{
    text-shadow: 3px 2px 0px rgb(204, 0, 255);
    transition: 1s;

}
#shadow :hover{
    color:#ffb0b0;
    transition: 0.5s;
    
}

#disclaimer{
    font-size: 0.5em;
    color: #000000;
}

@keyframes blurOut{
    0%{
        backdrop-filter: blur(10px);
        /* opacity: 0; */
        
    }
    100%{
        backdrop-filter: blur(0px);
        /* opacity: 1; */
    }
}



@media (max-width: 1460px){
    #main_title{
        letter-spacing: normal;
    }

}
@media (max-width: 958px){
    #title_small{
        font-size: 3.5em;
    }
}


@media (max-width: 840px){
    #title_small{
        font-size: 3em;
    }
    #text_container{
        font-size: 1.3em;
        padding-left: 0;
        padding-top: 10px;
    }




@media (max-width:640px){
    #main_title{
        font-size: 3em;
        height: auto;
    }
    #bg_img_first{
        max-height: 50vh;
    }
    #text_container{
        padding-top: 20px;
    }

}
@media (max-width: 557px){
    #main_title{
        font-size: 2.5em;
    }
}
@media (max-width: 430px){
    nav a{
        font-size: 0.9em;
    }
}
@media (max-width: 401px){
    #main_title{
        font-size: 2.3em;
    }
    
}




