*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: thin;
}
body{
    min-height: 30vh;
    font-family: 'Roboto', sans-serif;    
}
.bold{
    font-weight: bold;

}

/* .selected:hover{
    background-color: #f9f9f9 !important; 
} */

.sidebar{
    position: fixed;    
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    border: solid #DDDBFC 1px;
    background-color: rgb(57, 49, 206, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgb(0 0 0 / 34%);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
}
nav{
    background-color: #3931CE;
    width: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1000;
    top: 0;
}

nav ul{
    color: rgb(255, 255, 255);
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li{
    height: 50px;
    
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    
}
nav a:hover{
    background-color: #DDDBFC;
    color: black;
    transition: 0.5s;
    
}

nav li:first-child{
    margin-right: auto;
}

#vpravo{
    margin: 5px;
    width: 100%;
}
#vlevo {
    min-height: fit-content;
    margin-bottom: 3vw;
    min-width: 50vw;
}
#sirka{
    width: 100%;

}
.boxes {
    
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: space-between;
}
#odsazeni_odkaz{
    margin-left: 2px;
    text-decoration: none;
    color: rgb(132, 0, 255);
    font-weight: bold;
    transition: 0.5s;
}
#odsazeni_odkaz:hover{
    color: rgb(249, 85, 255);
}

#nadpis {
    font-size: 2.5em;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}
#mezera{
    margin-bottom: 20px;

}
ul#styles{
    list-style-type: none;    
}
#style_plakat{
    border: #000000 solid 1px;
    text-align: center;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    
}
a#style_plakat{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.5s;
    
}
li#style_plakat:hover, a#style_plakat:hover{
    color: rgb(132, 0, 255);
    background-color: #DDDBFC;
    transition: 0.5s;
}

footer{
    background-color: #3931CE;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    position:absolute;
    bottom: 0;
    z-index: 1000;
    box-shadow: 3px -3px 5px rgba(255, 0, 0, 0.1);

}

@media (max-width:1136px){
    .boxes{
        flex-direction: column;
        align-items: center;
        }
    #nadpis{
        justify-content: center;
}
}
@media (max-width:678px){
    ul#styles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}

@media (min-width:640px){
    .menu-button{
        display: none;
    }
    .sidebar{
        display: none;
    }
}

@media (max-width:639px){
    .remove_mobile{
        display: none;
    }
}
@media (max-width:406px){
    #nadpis{
        font-size: 2em;
    }
}
@media (max-width:276px){
    #rezponzivita{
    font-size: 0.9em;
    }
    #nadpis{
        font-size: 1.5em;
    }
}